# Directories
# ------------------------------------------------------------------------------
bin

# Files
# ------------------------------------------------------------------------------
.compile_errors.txt